<form name="loginForm">
    <p>{{ info }}</p>
    <fieldset>
        <legend>Login</legend>
        <label for="loginEmail">Username/Email: <input type="email" name="loginEmail" id="loginEmail" ng-model="loginUserData.email" placeholder="Email"/></label>
        <label for="loginPassword">Password: <input type="password" name="loginPassword" id="loginPassword" ng-model="loginUserData.password" placeholder="Password"/></label>
        <button type="button" ng-click="loginUser(loginUserData)">Login</button>
    </fieldset>
</form>

<form name="registerForm">
    <fieldset>
        <label>Register</label>
        <label for="registerEmail">Email: <input type="email" name="registerEmail" id="registerEmail" ng-model="registerUserData.email" placeholder="Email" /></label>
        <label for="registerPassword">Password: <input type="password" name="registerPassword" id="registerPassword" ng-model="registerUserData.password" placeholder="Password" /></label>
        <label for="registerConfirmPassword">Confirm Password: <input type="password" name="registerConfirmPassword" id="registerConfirmPassword" ng-model="registerUserData.confirmPassword" placeholder="Confirm password" /></label>
        <button type="button" ng-click="registerUser(registerUserData)">Register</button>
    </fieldset>
</form>
